
<h2>Gerado novo Boleto com sucesso!</h2>


<hr/>
<br/>


<% @boletos.sort{|a,b| b.attributes['id'] <=> a.attributes['id']}.each do |d| %>
  <%=h "#{d.promissoria.to_s}: #{d.data_vencimento}, #{d.cod_sac}, #{d.seu_numero}, #{d.nosso_numero}, #{Biblioteca::format_currency d.valor_titulo}" %> <br/>
<%  end %>

