<h2>Gera boletos do mes -
<%=h " #{@month}/#{@year}" %>
</h2>



<br/>
<hr/>

<% for d in @dados %>
<%=h "#{d.promissoria.to_s}:  #{d.data_vencimento}, #{d.cod_sac}, #{d.seu_numero}, #{d.nosso_numero}, #{Biblioteca::format_currency d.valor_titulo}" %> <br/>
<% end %>

<br/>
<hr/>





